apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: k3s-runner
  namespace: actions-runner-system
spec:
  replicas: 1
  template:
    spec:
      repository: one-t/proxmox-argo
      labels:
        - k3s
        - self-hosted
        - linux
        - x64
      resources:
        limits:
          cpu: "2"
          memory: "2Gi"
        requests:
          cpu: "500m"
          memory: "512Mi"
